{% extends 'app/base.html' %}
{% load static %}
{% block title %}Management Hub{% endblock %}

{% block header %}
    <header class="navBar">
        <div class="navBar_logoBox">
            <img src="{% static 'images/logo.svg' %}" width="50" height="50" alt="Logo">
            <span class="logoText">Management hub</span>
        </div>
        <nav class="navigation ">
            <ul class="menu">
                <li class="menuItem"><a class="menuLink" href="/#/">Features</a></li>
                <li class="menuItem"><a class="menuLink" href="/#/">About us</a></li>
                <li class="menuItem"><a class="menuLink" href="https://github.com/Alexxxem/TransferHub/tree/main/" target="_blank">
                    <img src="{% static 'images/github-logo.svg' %}" alt="GitHub" width="50" height="50">
                    Github</a></li>
            </ul>

            <div class="actions">
                <a class="login-btn" href="{% url 'app:login' %}">Log in</a>
                <a class="signup-btn" href="{% url 'app:register' %}">Sign up</a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}

    <div class="content-container">
    <!-- Левая половина -->
        <div class="left-half">
            <div class="left-half-cnt1">
                <span class="contentText1">TRANSFER</span>
            </div>
            <div class="left-half-cnt2">
                <span class="contentText2">Management Hub</span>
            </div>
        </div>

        <!-- Правая половина -->
        <div class="right-half">
            <div class="contentLogo">
                <img src="{% static 'images/football-ball.svg' %}" width="50" height="50" alt="Logo">
            </div>
        </div>
    </div>


{% endblock %}
