{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Hub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="navBar">
        <div class="navBar_logoBox">
            <img src="{% static 'images/logo.svg' %}" width="50" height="50" alt="Logo">
            <span class="logoText">Management hub</span>
        </div>
        <nav class="navigation ">
            <ul class="menu">
                <li class="menuItem"><a class="menuLink" href="/features/">Features</a></li>
                <li class="menuItem"><a class="menuLink" href="/about_us/">About us</a></li>
                <li class="menuItem"><a class="menuLink" href="https://github.com/Alexxxem/TransferHub/tree/main/" target="_blank">
                    <img src="{% static 'images/github-logo.svg' %}" alt="GitHub" width="50" height="50">
                    Github</a></li>
            </ul>

            <div class="actions">
                <a class="login-btn" href="{% url 'app:login' %}">Log in</a>
                <a class="signup-btn" href="{% url 'app:register' %}">Sign up</a>
            </div>
        </nav>
    </header>

</body>
</html>

