{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Management Hub{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block header %}
        <!-- Здесь будет содержимое header, которое наследуется и переопределяется в других шаблонах -->
    {% endblock %}
    <div id="content">
        {% block content %}
        <h1>Permission Denied</h1>
        <p>You don't have the necessary permissions to perform this action.</p>

        {% endblock %}
    </div>
</body>
</html>
