/* Общие стили для таблицы */
h2 {
    background-color: #fff;
    color: #000000;
    font-family: Manrope, sans-serif;
    font-weight: 400;
}

.profile-content {
    display: flex;
}

.left-sidebar {
    width: 200px; /* Ширина левой боковой панели */
    background-color: #f2f2f2;
    padding: 20px;
}

.left-sidebar h3 {
    color: #333;
}

.left-sidebar ul {
    list-style: none;
    padding: 0;
}

.left-sidebar ul li {
    margin-bottom: 10px;
}

.right-content {
    flex-grow: 1;
    padding: 20px;
}

/* Стили для таблицы */
.profile-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

/* Стили для заголовков таблицы */
.profile-table thead th {
    background-color: #6f6b73;
    color: #fff;
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

/* Стили для ячеек таблицы */
.profile-table td {
    padding: 8px;
    border: 1px solid black;
}

/* Стили для четных строк таблицы */
.profile-table tbody tr:nth-child(even) {
    background-color: #eee;
}

/* Стили для столбцов (кроме первого) */
.profile-table tbody td:not(:first-child) {
    width: 150px; /* Задайте желаемую ширину для столбцов, кроме первого */
}

.navBar_userInfo {
    display: flex;
    align-items: center;
}

.logout-btn {
    background-color: #c177fc;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: black;
}

.navBar_userInfo > *:not(:last-child) {
    margin-right: 15px; /* Измените значение на ваше усмотрение */
}

.hello_user {
    color: #000000;
    font-family: Manrope, sans-serif;
    font-weight: 600;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* Стили для кнопки "Add" */
button#add-button {
    background-color: #c177fc;
    color: black;
    font-weight: 600;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 20px;
}

button#add-button:hover {
    background-color: black;
    color: white;
}

/* Стили для всплывающего окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

/* Стили для крестика закрытия окна */
span.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

span.close:hover {
    color: #c177fc;
}

/* Стили для формы внутри всплывающего окна (если нужны) */
.modal-content form {
    /* Добавьте стили по вашему усмотрению */
}

.btn-update {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #c177fc;
    color: #c177fc;
    background-color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-update:hover {
    background-color: #c177fc;
    color: #ffffff;
}