* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

body {
    background-color: #fff;
    color: #000000;
    font-family: Manrope,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.navBar {
    align-items: center;
    display: flex;
    height: 88px;
    justify-content: space-between;
    padding: 0 2.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #80ffdb;
}

.navBar_logoBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoText {
    height: 1px;
    font-weight: 700;
}


.navigation {
    display: contents;
}

.menu {
    align-items: center;
    display: flex;
    gap: 2.5em;
    justify-content: center;
    list-style: none;
}

.menuLink {
    align-items: center;
    color: var(--primary-color);
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    transition: color .3s ease;
}

.actions {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

li a{
    color: black;
    text-decoration: none;
    position: center;
}


.login-btn {
    background-color: #c177fc;
    color: black;
    font-weight: 600;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 15px;
    border: black;
}

.signup-btn {
    background-color: #c177fc;
    color: white;
    font-weight: 600;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 15px;
    border: black;
}

.login-btn:hover {
    background-color: black;
    color: white;
}

.signup-btn:hover {
    background-color: black;
}


.content-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left-half,
.right-half {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-half {
    background-color: #f0f0f0;
}

.left-half-cnt1 {
    margin-bottom: 10px;
}


.right-half {
    background-color: #f0f0f0;
}

.contentText1, .contentText2 {
    width: 100%;
    max-width: 600px;
    height: auto;
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-family: "Unbounded", "Unbounded Placeholder", sans-serif;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
}

.contentText1 {

    margin-bottom: 20px;
}

.contentText2 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1em;
    padding-top: 20px;
}

.contentLogo img {
    width: 200px;
    height: 200px;
    margin-left: -200px;
}